nodered/flows-complete-ksave-monitor.json
[
    {
        "id": "tab-ksave-complete",
        "type": "tab",
        "label": "K-SAVE Complete Monitor",
        "disabled": false,
        "info": "Complete K-SAVE monitoring system with Modbus + Custom UI + InfluxDB"
    },
    {
        "id": "tab-mqtt-bridge",
        "type": "tab",
        "label": "MQTT to InfluxDB Bridge",
        "disabled": false,
        "info": "Subscribe MQTT data from Pi and write to InfluxDB"
    },
    {
        "id": "inject-modbus-before",
        "type": "inject",
        "z": "tab-ksave-complete",
        "name": "Read Modbus Before every 2s",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "mb-before-voltage",
                "mb-before-current",
                "mb-before-power",
                "mb-before-pf",
                "mb-before-thd",
                "mb-before-freq"
            ]
        ]
    },
    {
        "id": "mb-before-voltage",
        "type": "modbus-read",
        "z": "tab-ksave-complete",
        "name": "Read Voltage L1-L3 (3000-3002)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "3000",
        "quantity": "3",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus-server",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 440,
        "y": 40,
        "wires": [
            [
                "parse-before-voltage"
            ],
            []
        ]
    },
    {
        "id": "mb-before-current",
        "type": "modbus-read",
        "z": "tab-ksave-complete",
        "name": "Read Current L1-L3 (3050-3052)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "3050",
        "quantity": "3",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus-server",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "parse-before-current"
            ],
            []
        ]
    },
    {
        "id": "mb-before-power",
        "type": "modbus-read",
        "z": "tab-ksave-complete",
        "name": "Read P Q S (3100-3102)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "3100",
        "quantity": "3",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus-server",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 420,
        "y": 120,
        "wires": [
            [
                "parse-before-power"
            ],
            []
        ]
    },
    {
        "id": "mb-before-pf",
        "type": "modbus-read",
        "z": "tab-ksave-complete",
        "name": "Read PF (3150)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "3150",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus-server",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "parse-before-pf"
            ],
            []
        ]
    },
    {
        "id": "mb-before-thd",
        "type": "modbus-read",
        "z": "tab-ksave-complete",
        "name": "Read THD (3200)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "3200",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus-server",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "parse-before-thd"
            ],
            []
        ]
    },
    {
        "id": "mb-before-freq",
        "type": "modbus-read",
        "z": "tab-ksave-complete",
        "name": "Read Frequency (3250)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "3250",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus-server",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "parse-before-freq"
            ],
            []
        ]
    },
    {
        "id": "parse-before-voltage",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Parse Voltage รท10",
        "func": "// Convert Voltage value from Modbus (รท10)\nconst data = msg.payload;\nconst L1 = data[0] / 10;\nconst L2 = data[1] / 10;\nconst L3 = data[2] / 10;\n\n// Store in flow context\nflow.set('before_L1', L1);\nflow.set('before_L2', L2);\nflow.set('before_L3', L3);\n\nnode.status({fill: \"green\", shape: \"dot\", text: `L1:${L1}V L2:${L2}V L3:${L3}V`});\n\n// Send to UI chart with series labels\nvar msg1 = {topic: \"L1\", payload: L1};\nvar msg2 = {topic: \"L2\", payload: L2};\nvar msg3 = {topic: \"L3\", payload: L3};\n\nreturn [[msg1, msg2, msg3]];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 40,
        "wires": [
            ["chart-main-before-voltage"]
        ]
    },
    {
        "id": "parse-before-current",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Parse Current รท100",
        "func": "// Convert Current value from Modbus (รท100)\nconst data = msg.payload;\nconst I1 = data[0] / 100;\nconst I2 = data[1] / 100;\nconst I3 = data[2] / 100;\n\n// Store in flow context\nflow.set('before_I1', I1);\nflow.set('before_I2', I2);\nflow.set('before_I3', I3);\n\nnode.status({fill: \"green\", shape: \"dot\", text: `I1:${I1}A I2:${I2}A I3:${I3}A`});\n\n// Send to UI chart with series labels\nvar msg1 = {topic: \"I1\", payload: I1};\nvar msg2 = {topic: \"I2\", payload: I2};\nvar msg3 = {topic: \"I3\", payload: I3};\n\nreturn [[msg1, msg2, msg3]];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 80,
        "wires": [
            ["chart-main-before-current"]
        ]
    },
    {
        "id": "parse-before-power",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Parse P Q S รท100",
        "func": "// Convert Power value from Modbus (รท100)\nconst data = msg.payload;\n\n// Check if data exists and has values\nif (!data || data[0] === undefined) {\n    node.status({fill: \"yellow\", shape: \"ring\", text: \"No data\"});\n    return null;\n}\n\nconst P = data[0] / 100;\nconst Q = data[1] / 100;\nconst S = data[2] / 100;\n\n// Store in flow context\nflow.set('before_P', P);\nflow.set('before_Q', Q);\nflow.set('before_S', S);\n\nnode.status({fill: \"green\", shape: \"dot\", text: `P:${P}kW Q:${Q}kVAR S:${S}kVA`});\n\n// Send to UI chart with series labels\nvar msg1 = {topic: \"P (kW)\", payload: P};\nvar msg2 = {topic: \"Q (kVAR)\", payload: Q};\nvar msg3 = {topic: \"S (kVA)\", payload: S};\n\nreturn [[msg1, msg2, msg3]];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 120,
        "wires": [
            ["chart-main-before-power"]
        ]
    },
    {
        "id": "parse-before-pf",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Parse PF รท100",
        "func": "// Convert Power Factor value from Modbus (รท100)\nif (!msg.payload || msg.payload[0] === undefined) {\n    node.status({fill: \"yellow\", shape: \"ring\", text: \"No data\"});\n    return null;\n}\nconst PF = msg.payload[0] / 100;\n\n// Store in flow context\nflow.set('before_PF', PF);\n\nnode.status({fill: \"green\", shape: \"dot\", text: `PF:${PF}`});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "parse-before-thd",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Parse THD รท10",
        "func": "// Convert THD value from Modbus (รท10)\nif (!msg.payload || msg.payload[0] === undefined) {\n    node.status({fill: \"yellow\", shape: \"ring\", text: \"No data\"});\n    return null;\n}\nconst THD = msg.payload[0] / 10;\n\n// Store in flow context\nflow.set('before_THD', THD);\n\nnode.status({fill: \"green\", shape: \"dot\", text: `THD:${THD}%`});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "parse-before-freq",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Parse Frequency รท10",
        "func": "// Convert Frequency value from Modbus (รท10)\nif (!msg.payload || msg.payload[0] === undefined) {\n    node.status({fill: \"yellow\", shape: \"ring\", text: \"No data\"});\n    return null;\n}\nconst F = msg.payload[0] / 10;\n\n// Store in flow context\nflow.set('before_F', F);\n\nnode.status({fill: \"green\", shape: \"dot\", text: `Freq:${F}Hz`});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "inject-modbus-metrics",
        "type": "inject",
        "z": "tab-ksave-complete",
        "name": "Read Modbus Metrics every 2s",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "mb-metrics-voltage",
                "mb-metrics-current",
                "mb-metrics-power",
                "mb-metrics-pf",
                "mb-metrics-thd",
                "mb-metrics-freq"
            ]
        ]
    },
    {
        "id": "mb-metrics-voltage",
        "type": "modbus-read",
        "z": "tab-ksave-complete",
        "name": "Read Voltage L1-L3 (4000-4002)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4000",
        "quantity": "3",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus-server",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "parse-metrics-voltage"
            ],
            []
        ]
    },
    {
        "id": "mb-metrics-current",
        "type": "modbus-read",
        "z": "tab-ksave-complete",
        "name": "Read Current L1-L3 (4050-4052)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4050",
        "quantity": "3",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus-server",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "parse-metrics-current"
            ],
            []
        ]
    },
    {
        "id": "mb-metrics-power",
        "type": "modbus-read",
        "z": "tab-ksave-complete",
        "name": "Read P Q S (4100-4102)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4100",
        "quantity": "3",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus-server",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "parse-metrics-power"
            ],
            []
        ]
    },
    {
        "id": "mb-metrics-pf",
        "type": "modbus-read",
        "z": "tab-ksave-complete",
        "name": "Read PF (4150)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4150",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus-server",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "parse-metrics-pf"
            ],
            []
        ]
    },
    {
        "id": "mb-metrics-thd",
        "type": "modbus-read",
        "z": "tab-ksave-complete",
        "name": "Read THD (4200)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4200",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus-server",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 410,
        "y": 480,
        "wires": [
            [
                "parse-metrics-thd"
            ],
            []
        ]
    },
    {
        "id": "mb-metrics-freq",
        "type": "modbus-read",
        "z": "tab-ksave-complete",
        "name": "Read Frequency (4250)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4250",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus-server",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 430,
        "y": 520,
        "wires": [
            [
                "parse-metrics-freq"
            ],
            []
        ]
    },
    {
        "id": "parse-metrics-voltage",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Parse Voltage รท10",
        "func": "// Convert Voltage value from Modbus (รท10)\nconst data = msg.payload;\nconst L1 = data[0] / 10;\nconst L2 = data[1] / 10;\nconst L3 = data[2] / 10;\n\n// Store in flow context\nflow.set('metrics_L1', L1);\nflow.set('metrics_L2', L2);\nflow.set('metrics_L3', L3);\n\nnode.status({fill: \"blue\", shape: \"dot\", text: `L1:${L1}V L2:${L2}V L3:${L3}V`});\n\n// Send to UI chart with series labels\nvar msg1 = {topic: \"L1\", payload: L1};\nvar msg2 = {topic: \"L2\", payload: L2};\nvar msg3 = {topic: \"L3\", payload: L3};\n\nreturn [[msg1, msg2, msg3]];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 320,
        "wires": [
            ["chart-main-metrics-voltage"]
        ]
    },
    {
        "id": "parse-metrics-current",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Parse Current รท100",
        "func": "// Convert Current value from Modbus (รท100)\nconst data = msg.payload;\nconst I1 = data[0] / 100;\nconst I2 = data[1] / 100;\nconst I3 = data[2] / 100;\n\n// Store in flow context\nflow.set('metrics_I1', I1);\nflow.set('metrics_I2', I2);\nflow.set('metrics_I3', I3);\n\nnode.status({fill: \"blue\", shape: \"dot\", text: `I1:${I1}A I2:${I2}A I3:${I3}A`});\n\n// Send to UI chart with series labels\nvar msg1 = {topic: \"I1\", payload: I1};\nvar msg2 = {topic: \"I2\", payload: I2};\nvar msg3 = {topic: \"I3\", payload: I3};\n\nreturn [[msg1, msg2, msg3]];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 360,
        "wires": [
            ["chart-main-metrics-current"]
        ]
    },
    {
        "id": "parse-metrics-power",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Parse P Q S รท100",
        "func": "// Convert Power value from Modbus (รท100)\nconst data = msg.payload;\n\n// Check if data exists and has values\nif (!data || data[0] === undefined) {\n    node.status({fill: \"yellow\", shape: \"ring\", text: \"No data\"});\n    return null;\n}\n\nconst P = data[0] / 100;\nconst Q = data[1] / 100;\nconst S = data[2] / 100;\n\n// Store in flow context\nflow.set('metrics_P', P);\nflow.set('metrics_Q', Q);\nflow.set('metrics_S', S);\n\nnode.status({fill: \"blue\", shape: \"dot\", text: `P:${P}kW Q:${Q}kVAR S:${S}kVA`});\n\n// Send to UI chart with series labels\nvar msg1 = {topic: \"P (kW)\", payload: P};\nvar msg2 = {topic: \"Q (kVAR)\", payload: Q};\nvar msg3 = {topic: \"S (kVA)\", payload: S};\n\nreturn [[msg1, msg2, msg3]];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 400,
        "wires": [
            ["chart-main-metrics-power"]
        ]
    },
    {
        "id": "parse-metrics-pf",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Parse PF รท100",
        "func": "// Convert Power Factor value from Modbus (รท100)\nif (!msg.payload || msg.payload[0] === undefined) {\n    node.status({fill: \"yellow\", shape: \"ring\", text: \"No data\"});\n    return null;\n}\nconst PF = msg.payload[0] / 100;\n\n// Store in flow context\nflow.set('metrics_PF', PF);\n\nnode.status({fill: \"blue\", shape: \"dot\", text: `PF:${PF}`});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "parse-metrics-thd",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Parse THD รท10",
        "func": "// Convert THD value from Modbus (รท10)\nif (!msg.payload || msg.payload[0] === undefined) {\n    node.status({fill: \"yellow\", shape: \"ring\", text: \"No data\"});\n    return null;\n}\nconst THD = msg.payload[0] / 10;\n\n// Store in flow context\nflow.set('metrics_THD', THD);\n\nnode.status({fill: \"blue\", shape: \"dot\", text: `THD:${THD}%`});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "parse-metrics-freq",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Parse Frequency รท10",
        "func": "// Convert Frequency value from Modbus (รท10)\nif (!msg.payload || msg.payload[0] === undefined) {\n    node.status({fill: \"yellow\", shape: \"ring\", text: \"No data\"});\n    return null;\n}\nconst F = msg.payload[0] / 10;\n\n// Store in flow context\nflow.set('metrics_F', F);\n\nnode.status({fill: \"blue\", shape: \"dot\", text: `Freq:${F}Hz`});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "inject-send-influx",
        "type": "inject",
        "z": "tab-ksave-complete",
        "name": "Send data to InfluxDB every 5s",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "prepare-influx-data"
            ]
        ]
    },
    {
        "id": "prepare-influx-data",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Format for InfluxDB",
        "func": "// Format data for InfluxDB node\n// InfluxDB expects msg.payload to be a value or object with fields\n\nconst beforeP = flow.get('before_P') || 0;\nconst beforeQ = flow.get('before_Q') || 0;\nconst beforeS = flow.get('before_S') || 0;\nconst beforePF = flow.get('before_PF') || 0;\nconst beforeTHD = flow.get('before_THD') || 0;\nconst beforeF = flow.get('before_F') || 0;\n\nconst metricsP = flow.get('metrics_P') || 0;\nconst metricsQ = flow.get('metrics_Q') || 0;\nconst metricsS = flow.get('metrics_S') || 0;\nconst metricsPF = flow.get('metrics_PF') || 0;\nconst metricsTHD = flow.get('metrics_THD') || 0;\nconst metricsF = flow.get('metrics_F') || 0;\n\n// Set fields for InfluxDB\nmsg.payload = {\n    before_P: beforeP,\n    before_Q: beforeQ,\n    before_S: beforeS,\n    before_PF: beforePF,\n    before_THD: beforeTHD,\n    before_F: beforeF,\n    before_L1: flow.get('before_L1') || 0,\n    before_L2: flow.get('before_L2') || 0,\n    before_L3: flow.get('before_L3') || 0,\n    before_I1: flow.get('before_I1') || 0,\n    before_I2: flow.get('before_I2') || 0,\n    before_I3: flow.get('before_I3') || 0,\n    metrics_P: metricsP,\n    metrics_Q: metricsQ,\n    metrics_S: metricsS,\n    metrics_PF: metricsPF,\n    metrics_THD: metricsTHD,\n    metrics_F: metricsF,\n    metrics_L1: flow.get('metrics_L1') || 0,\n    metrics_L2: flow.get('metrics_L2') || 0,\n    metrics_L3: flow.get('metrics_L3') || 0,\n    metrics_I1: flow.get('metrics_I1') || 0,\n    metrics_I2: flow.get('metrics_I2') || 0,\n    metrics_I3: flow.get('metrics_I3') || 0\n};\n\n// Set tags for grouping\nmsg.measurement = 'power_monitor';\nmsg.tags = {\n    device: 'DEV-1',\n    location: 'factory'\n};\n\nnode.status({\n    fill: \"green\",\n    shape: \"dot\",\n    text: `Before: ${beforeP.toFixed(2)}kW | Metrics: ${metricsP.toFixed(2)}kW`\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 600,
        "wires": [
            [
                "mqtt-publish-data"
            ]
        ]
    },
    {
        "id": "mqtt-publish-data",
        "type": "mqtt out",
        "z": "tab-ksave-complete",
        "name": "Publish to MQTT (k-system)",
        "topic": "ksave/power_monitor",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-ksystem",
        "x": 740,
        "y": 600,
        "wires": []
    },
    {
        "id": "debug-influx-response",
        "type": "debug",
        "z": "tab-ksave-complete",
        "name": "InfluxDB Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 600,
        "wires": []
    },
    {
        "id": "inject-ui-before",
        "type": "inject",
        "z": "tab-ksave-complete",
        "name": "Update UI Before every 2s",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 170,
        "y": 720,
        "wires": [
            [
                "prepare-ui-before"
            ]
        ]
    },
    {
        "id": "prepare-ui-before",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Prepare UI Before data",
        "func": "// Get Before data from flow context for UI\nconst data = {\n    timestamp: new Date().toLocaleString('en-US', {timeZone: 'Asia/Seoul'}),\n    voltage: {\n        L1: flow.get('before_L1') || 220,\n        L2: flow.get('before_L2') || 220,\n        L3: flow.get('before_L3') || 220\n    },\n    current: {\n        L1: flow.get('before_I1') || 0,\n        L2: flow.get('before_I2') || 0,\n        L3: flow.get('before_I3') || 0\n    },\n    power: {\n        active: flow.get('before_P') || 0,\n        reactive: flow.get('before_Q') || 0,\n        apparent: flow.get('before_S') || 0\n    },\n    pf: flow.get('before_PF') || 0,\n    thd: flow.get('before_THD') || 0,\n    frequency: flow.get('before_F') || 50,\n    temperature: 35 + Math.random() * 5,\n    status: 'Online'\n};\n\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 720,
        "wires": [
            [
                "ui-before-basic"
            ]
        ]
    },
    {
        "id": "ui-before-basic",
        "type": "ui_template",
        "z": "tab-ksave-complete",
        "group": "ui-group-before",
        "name": "KSAVE01 Power Before",
        "order": 1,
        "width": 12,
        "height": 12,
        "format": "<style>\n.ksave-container {\n    width: 100%;\n    box-sizing: border-box;\n    padding: 20px;\n    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n    border-radius: 15px;\n    color: white;\n    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n}\n\n.ksave-header {\n    font-size: 28px;\n    font-weight: bold;\n    text-align: center;\n    margin-bottom: 20px;\n    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);\n}\n\n.ksave-grid {\n    display: grid;\n    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n    gap: 15px;\n    margin-bottom: 20px;\n}\n\n.ksave-card {\n    background: rgba(255,255,255,0.2);\n    backdrop-filter: blur(10px);\n    padding: 20px;\n    border-radius: 12px;\n    text-align: center;\n    border: 2px solid rgba(255,255,255,0.4);\n    transition: transform 0.3s ease;\n}\n\n.ksave-card:hover {\n    transform: translateY(-5px);\n    box-shadow: 0 10px 25px rgba(0,0,0,0.3);\n}\n\n.ksave-label {\n    font-size: 12px;\n    opacity: 0.9;\n    text-transform: uppercase;\n    letter-spacing: 1px;\n    margin-bottom: 10px;\n}\n\n.ksave-value {\n    font-size: 32px;\n    font-weight: bold;\n    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);\n}\n\n.ksave-unit {\n    font-size: 16px;\n    margin-left: 5px;\n    opacity: 0.8;\n}\n\n.voltage-section {\n    background: rgba(255,255,255,0.15);\n    padding: 15px;\n    border-radius: 10px;\n    margin-bottom: 15px;\n}\n\n.voltage-grid {\n    display: flex;\n    justify-content: space-around;\n    margin-top: 10px;\n}\n\n.voltage-item {\n    text-align: center;\n}\n\n.voltage-label {\n    font-size: 11px;\n    opacity: 0.8;\n    margin-bottom: 5px;\n}\n\n.voltage-value {\n    font-size: 24px;\n    font-weight: bold;\n}\n\n.current-section {\n    background: rgba(255,255,255,0.15);\n    padding: 15px;\n    border-radius: 10px;\n    margin-bottom: 15px;\n}\n\n.current-grid {\n    display: flex;\n    justify-content: space-around;\n    margin-top: 10px;\n}\n\n.current-item {\n    text-align: center;\n}\n\n.current-label {\n    font-size: 11px;\n    opacity: 0.8;\n    margin-bottom: 5px;\n}\n\n.current-value {\n    font-size: 24px;\n    font-weight: bold;\n    color: #ffd43b;\n}\n\n.timestamp {\n    text-align: center;\n    margin-top: 15px;\n    font-size: 12px;\n    opacity: 0.8;\n    font-style: italic;\n}\n</style>\n\n<div class=\"ksave-container\">\n    <div class=\"ksave-header\">โก K-SAVE Power Before</div>\n    \n    <!-- Voltage Section -->\n    <div class=\"voltage-section\">\n        <div style=\"font-size: 14px; font-weight: bold; text-align: center; margin-bottom: 10px;\">๐ Three-Phase Voltage</div>\n        <div class=\"voltage-grid\">\n            <div class=\"voltage-item\">\n                <div class=\"voltage-label\">L1</div>\n                <div class=\"voltage-value\" style=\"color: #ff6b6b;\">{{msg.payload.voltage.L1 | number:1}}<span style=\"font-size: 14px;\"> V</span></div>\n            </div>\n            <div class=\"voltage-item\">\n                <div class=\"voltage-label\">L2</div>\n                <div class=\"voltage-value\" style=\"color: #51cf66;\">{{msg.payload.voltage.L2 | number:1}}<span style=\"font-size: 14px;\"> V</span></div>\n            </div>\n            <div class=\"voltage-item\">\n                <div class=\"voltage-label\">L3</div>\n                <div class=\"voltage-value\" style=\"color: #74c0fc;\">{{msg.payload.voltage.L3 | number:1}}<span style=\"font-size: 14px;\"> V</span></div>\n            </div>\n        </div>\n    </div>\n    \n    <!-- Current Section -->\n    <div class=\"current-section\">\n        <div style=\"font-size: 14px; font-weight: bold; text-align: center; margin-bottom: 10px;\">โก Current</div>\n        <div class=\"current-grid\">\n            <div class=\"current-item\">\n                <div class=\"current-label\">I1</div>\n                <div class=\"current-value\">{{msg.payload.current.L1 | number:2}}<span style=\"font-size: 14px;\"> A</span></div>\n            </div>\n            <div class=\"current-item\">\n                <div class=\"current-label\">I2</div>\n                <div class=\"current-value\">{{msg.payload.current.L2 | number:2}}<span style=\"font-size: 14px;\"> A</span></div>\n            </div>\n            <div class=\"current-item\">\n                <div class=\"current-label\">I3</div>\n                <div class=\"current-value\">{{msg.payload.current.L3 | number:2}}<span style=\"font-size: 14px;\"> A</span></div>\n            </div>\n        </div>\n    </div>\n    \n    <!-- Power Cards -->\n    <div class=\"ksave-grid\">\n        <div class=\"ksave-card\">\n            <div class=\"ksave-label\">Active Power</div>\n            <div class=\"ksave-value\">{{msg.payload.power.active | number:2}}<span class=\"ksave-unit\">kW</span></div>\n        </div>\n        \n        <div class=\"ksave-card\">\n            <div class=\"ksave-label\">Reactive Power</div>\n            <div class=\"ksave-value\">{{msg.payload.power.reactive | number:2}}<span class=\"ksave-unit\">kVAR</span></div>\n        </div>\n        \n        <div class=\"ksave-card\">\n            <div class=\"ksave-label\">Apparent Power</div>\n            <div class=\"ksave-value\">{{msg.payload.power.apparent | number:2}}<span class=\"ksave-unit\">kVA</span></div>\n        </div>\n        \n        <div class=\"ksave-card\">\n            <div class=\"ksave-label\">Power Factor</div>\n            <div class=\"ksave-value\" ng-class=\"msg.payload.pf >= 0.9 ? '' : 'text-warning'\">\n                {{msg.payload.pf | number:3}}\n            </div>\n        </div>\n        \n        <div class=\"ksave-card\">\n            <div class=\"ksave-label\">THD</div>\n            <div class=\"ksave-value\">{{msg.payload.thd | number:1}}<span class=\"ksave-unit\">%</span></div>\n        </div>\n        \n        <div class=\"ksave-card\">\n            <div class=\"ksave-label\">Frequency</div>\n            <div class=\"ksave-value\">{{msg.payload.frequency | number:2}}<span class=\"ksave-unit\">Hz</span></div>\n        </div>\n    </div>\n    \n    <div class=\"timestamp\">\n        ๐ Last Update: {{msg.payload.timestamp}}\n    </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "inject-ui-metrics",
        "type": "inject",
        "z": "tab-ksave-complete",
        "name": "Update UI Metrics every 2s",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 170,
        "y": 820,
        "wires": [
            [
                "prepare-ui-metrics"
            ]
        ]
    },
    {
        "id": "prepare-ui-metrics",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Prepare UI Metrics data",
        "func": "// Get Metrics data from flow context for UI\nconst data = {\n    timestamp: new Date().toLocaleString('en-US', {timeZone: 'Asia/Seoul'}),\n    voltage: {\n        L1: flow.get('metrics_L1') || 220,\n        L2: flow.get('metrics_L2') || 220,\n        L3: flow.get('metrics_L3') || 220\n    },\n    current: {\n        L1: flow.get('metrics_I1') || 0,\n        L2: flow.get('metrics_I2') || 0,\n        L3: flow.get('metrics_I3') || 0\n    },\n    power: {\n        active: flow.get('metrics_P') || 0,\n        reactive: flow.get('metrics_Q') || 0,\n        apparent: flow.get('metrics_S') || 0\n    },\n    pf: flow.get('metrics_PF') || 0,\n    thd: flow.get('metrics_THD') || 0,\n    frequency: flow.get('metrics_F') || 50,\n    temperature: 35 + Math.random() * 5,\n    status: 'Online'\n};\n\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 820,
        "wires": [
            [
                "ui-metrics-advanced"
            ]
        ]
    },
    {
        "id": "ui-metrics-advanced",
        "type": "ui_template",
        "z": "tab-ksave-complete",
        "group": "ui-group-metrics",
        "name": "KSAVE01 Power Metrics",
        "order": 1,
        "width": 12,
        "height": 12,
        "format": "<style>\n.ksave-container {\n    width: 100%;\n    box-sizing: border-box;\n    padding: 20px;\n    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n    border-radius: 15px;\n    color: white;\n    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n}\n\n.ksave-header {\n    font-size: 28px;\n    font-weight: bold;\n    text-align: center;\n    margin-bottom: 20px;\n    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);\n}\n\n.ksave-grid {\n    display: grid;\n    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n    gap: 15px;\n    margin-bottom: 20px;\n}\n\n.ksave-card {\n    background: rgba(255,255,255,0.2);\n    backdrop-filter: blur(10px);\n    padding: 20px;\n    border-radius: 12px;\n    text-align: center;\n    border: 2px solid rgba(255,255,255,0.4);\n    transition: transform 0.3s ease;\n}\n\n.ksave-card:hover {\n    transform: translateY(-5px);\n    box-shadow: 0 10px 25px rgba(0,0,0,0.3);\n}\n\n.ksave-label {\n    font-size: 12px;\n    opacity: 0.9;\n    text-transform: uppercase;\n    letter-spacing: 1px;\n    margin-bottom: 10px;\n}\n\n.ksave-value {\n    font-size: 32px;\n    font-weight: bold;\n    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);\n}\n\n.ksave-unit {\n    font-size: 16px;\n    margin-left: 5px;\n    opacity: 0.8;\n}\n\n.voltage-section {\n    background: rgba(255,255,255,0.15);\n    padding: 15px;\n    border-radius: 10px;\n    margin-bottom: 15px;\n}\n\n.voltage-grid {\n    display: flex;\n    justify-content: space-around;\n    margin-top: 10px;\n}\n\n.voltage-item {\n    text-align: center;\n}\n\n.voltage-label {\n    font-size: 11px;\n    opacity: 0.8;\n    margin-bottom: 5px;\n}\n\n.voltage-value {\n    font-size: 24px;\n    font-weight: bold;\n}\n\n.current-section {\n    background: rgba(255,255,255,0.15);\n    padding: 15px;\n    border-radius: 10px;\n    margin-bottom: 15px;\n}\n\n.current-grid {\n    display: flex;\n    justify-content: space-around;\n    margin-top: 10px;\n}\n\n.current-item {\n    text-align: center;\n}\n\n.current-label {\n    font-size: 11px;\n    opacity: 0.8;\n    margin-bottom: 5px;\n}\n\n.current-value {\n    font-size: 24px;\n    font-weight: bold;\n    color: #ffd43b;\n}\n\n.timestamp {\n    text-align: center;\n    margin-top: 15px;\n    font-size: 12px;\n    opacity: 0.8;\n    font-style: italic;\n}\n</style>\n\n<div class=\"ksave-container\">\n    <div class=\"ksave-header\">โก K-SAVE Power Metrics</div>\n    \n    <!-- Voltage Section -->\n    <div class=\"voltage-section\">\n        <div style=\"font-size: 14px; font-weight: bold; text-align: center; margin-bottom: 10px;\">๐ Three-Phase Voltage</div>\n        <div class=\"voltage-grid\">\n            <div class=\"voltage-item\">\n                <div class=\"voltage-label\">L1</div>\n                <div class=\"voltage-value\" style=\"color: #ff6b6b;\">{{msg.payload.voltage.L1 | number:1}}<span style=\"font-size: 14px;\"> V</span></div>\n            </div>\n            <div class=\"voltage-item\">\n                <div class=\"voltage-label\">L2</div>\n                <div class=\"voltage-value\" style=\"color: #51cf66;\">{{msg.payload.voltage.L2 | number:1}}<span style=\"font-size: 14px;\"> V</span></div>\n            </div>\n            <div class=\"voltage-item\">\n                <div class=\"voltage-label\">L3</div>\n                <div class=\"voltage-value\" style=\"color: #74c0fc;\">{{msg.payload.voltage.L3 | number:1}}<span style=\"font-size: 14px;\"> V</span></div>\n            </div>\n        </div>\n    </div>\n    \n    <!-- Current Section -->\n    <div class=\"current-section\">\n        <div style=\"font-size: 14px; font-weight: bold; text-align: center; margin-bottom: 10px;\">โก Current</div>\n        <div class=\"current-grid\">\n            <div class=\"current-item\">\n                <div class=\"current-label\">I1</div>\n                <div class=\"current-value\">{{msg.payload.current.L1 | number:2}}<span style=\"font-size: 14px;\"> A</span></div>\n            </div>\n            <div class=\"current-item\">\n                <div class=\"current-label\">I2</div>\n                <div class=\"current-value\">{{msg.payload.current.L2 | number:2}}<span style=\"font-size: 14px;\"> A</span></div>\n            </div>\n            <div class=\"current-item\">\n                <div class=\"current-label\">I3</div>\n                <div class=\"current-value\">{{msg.payload.current.L3 | number:2}}<span style=\"font-size: 14px;\"> A</span></div>\n            </div>\n        </div>\n    </div>\n    \n    <!-- Power Cards -->\n    <div class=\"ksave-grid\">\n        <div class=\"ksave-card\">\n            <div class=\"ksave-label\">Active Power</div>\n            <div class=\"ksave-value\">{{msg.payload.power.active | number:2}}<span class=\"ksave-unit\">kW</span></div>\n        </div>\n        \n        <div class=\"ksave-card\">\n            <div class=\"ksave-label\">Reactive Power</div>\n            <div class=\"ksave-value\">{{msg.payload.power.reactive | number:2}}<span class=\"ksave-unit\">kVAR</span></div>\n        </div>\n        \n        <div class=\"ksave-card\">\n            <div class=\"ksave-label\">Apparent Power</div>\n            <div class=\"ksave-value\">{{msg.payload.power.apparent | number:2}}<span class=\"ksave-unit\">kVA</span></div>\n        </div>\n        \n        <div class=\"ksave-card\">\n            <div class=\"ksave-label\">Power Factor</div>\n            <div class=\"ksave-value\" ng-class=\"msg.payload.pf >= 0.9 ? '' : 'text-warning'\">\n                {{msg.payload.pf | number:3}}\n            </div>\n        </div>\n        \n        <div class=\"ksave-card\">\n            <div class=\"ksave-label\">THD</div>\n            <div class=\"ksave-value\">{{msg.payload.thd | number:1}}<span class=\"ksave-unit\">%</span></div>\n        </div>\n        \n        <div class=\"ksave-card\">\n            <div class=\"ksave-label\">Frequency</div>\n            <div class=\"ksave-value\">{{msg.payload.frequency | number:2}}<span class=\"ksave-unit\">Hz</span></div>\n        </div>\n    </div>\n    \n    <div class=\"timestamp\">\n        ๐ Last Update: {{msg.payload.timestamp}}\n    </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "inject-compare-savings",
        "type": "inject",
        "z": "tab-ksave-complete",
        "name": "Calculate Savings every 2s",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "calculate-energy-savings"
            ]
        ]
    },
    {
        "id": "calculate-energy-savings",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Compare Before vs Metrics",
        "func": "// Get data from flow context\nconst beforeP = flow.get('before_P') || 0;\nconst beforeQ = flow.get('before_Q') || 0;\nconst beforeS = flow.get('before_S') || 0;\nconst beforePF = flow.get('before_PF') || 0;\nconst beforeTHD = flow.get('before_THD') || 0;\n\nconst metricsP = flow.get('metrics_P') || 0;\nconst metricsQ = flow.get('metrics_Q') || 0;\nconst metricsS = flow.get('metrics_S') || 0;\nconst metricsPF = flow.get('metrics_PF') || 0;\nconst metricsTHD = flow.get('metrics_THD') || 0;\n\n// Get Peak Load data\nconst peakBeforeP = flow.get('peak_before_P') || 0;\nconst peakBeforeS = flow.get('peak_before_S') || 0;\nconst peakBeforeI1 = flow.get('peak_before_I1') || 0;\nconst peakBeforeI2 = flow.get('peak_before_I2') || 0;\nconst peakBeforeI3 = flow.get('peak_before_I3') || 0;\nconst peakBeforeTimestamp = flow.get('peak_before_timestamp') || '';\n\nconst peakMetricsP = flow.get('peak_metrics_P') || 0;\nconst peakMetricsS = flow.get('peak_metrics_S') || 0;\nconst peakMetricsI1 = flow.get('peak_metrics_I1') || 0;\nconst peakMetricsI2 = flow.get('peak_metrics_I2') || 0;\nconst peakMetricsI3 = flow.get('peak_metrics_I3') || 0;\nconst peakMetricsTimestamp = flow.get('peak_metrics_timestamp') || '';\n\n// Calculate peak savings\nconst peakPowerSaving = peakBeforeP - peakMetricsP;\nconst peakPowerSavingPercent = peakBeforeP > 0 ? (peakPowerSaving / peakBeforeP * 100) : 0;\n\n// Calculate savings\nconst activePowerSaving = beforeP - metricsP;\nconst reactivePowerSaving = beforeQ - metricsQ;\nconst apparentPowerSaving = beforeS - metricsS;\n\n// Calculate percentage savings\nconst activePowerSavingPercent = beforeP > 0 ? (activePowerSaving / beforeP * 100) : 0;\nconst reactivePowerSavingPercent = beforeQ > 0 ? (reactivePowerSaving / beforeQ * 100) : 0;\n\n// Power Factor improvement\nconst pfImprovement = metricsPF - beforePF;\nconst pfImprovementPercent = beforePF > 0 ? (pfImprovement / beforePF * 100) : 0;\n\n// THD reduction\nconst thdReduction = beforeTHD - metricsTHD;\nconst thdReductionPercent = beforeTHD > 0 ? (thdReduction / beforeTHD * 100) : 0;\n\n// Energy cost savings (assuming 150 KRW/kWh)\nconst electricityRate = 150; // KRW per kWh\nconst hoursPerDay = 24;\nconst daysPerMonth = 30;\nconst dailySavings = activePowerSaving * hoursPerDay * electricityRate;\nconst monthlySavings = dailySavings * daysPerMonth;\nconst yearlySavings = monthlySavings * 12;\n\n// Peak load cost savings\nconst peakDailySavings = peakPowerSaving * hoursPerDay * electricityRate;\nconst peakMonthlySavings = peakDailySavings * daysPerMonth;\nconst peakYearlySavings = peakMonthlySavings * 12;\n\n// CO2 reduction (0.5 kg CO2 per kWh)\nconst co2PerKWh = 0.5; // kg\nconst dailyCO2Reduction = activePowerSaving * hoursPerDay * co2PerKWh;\nconst monthlyCO2Reduction = dailyCO2Reduction * daysPerMonth;\nconst yearlyCO2Reduction = monthlyCO2Reduction * 12;\n\nconst data = {\n    timestamp: new Date().toLocaleString('en-US', {timeZone: 'Asia/Seoul'}),\n    before: {\n        activeP: beforeP,\n        reactiveQ: beforeQ,\n        apparentS: beforeS,\n        pf: beforePF,\n        thd: beforeTHD\n    },\n    metrics: {\n        activeP: metricsP,\n        reactiveQ: metricsQ,\n        apparentS: metricsS,\n        pf: metricsPF,\n        thd: metricsTHD\n    },\n    peak: {\n        before: {\n            P: peakBeforeP,\n            S: peakBeforeS,\n            I1: peakBeforeI1,\n            I2: peakBeforeI2,\n            I3: peakBeforeI3,\n            timestamp: peakBeforeTimestamp\n        },\n        metrics: {\n            P: peakMetricsP,\n            S: peakMetricsS,\n            I1: peakMetricsI1,\n            I2: peakMetricsI2,\n            I3: peakMetricsI3,\n            timestamp: peakMetricsTimestamp\n        },\n        saving: peakPowerSaving,\n        savingPercent: peakPowerSavingPercent,\n        cost: {\n            daily: peakDailySavings,\n            monthly: peakMonthlySavings,\n            yearly: peakYearlySavings\n        }\n    },\n    savings: {\n        activePower: activePowerSaving,\n        activePowerPercent: activePowerSavingPercent,\n        reactivePower: reactivePowerSaving,\n        reactivePowerPercent: reactivePowerSavingPercent,\n        apparentPower: apparentPowerSaving,\n        pfImprovement: pfImprovement,\n        pfImprovementPercent: pfImprovementPercent,\n        thdReduction: thdReduction,\n        thdReductionPercent: thdReductionPercent\n    },\n    cost: {\n        daily: dailySavings,\n        monthly: monthlySavings,\n        yearly: yearlySavings,\n        currency: 'KRW'\n    },\n    environmental: {\n        dailyCO2: dailyCO2Reduction,\n        monthlyCO2: monthlyCO2Reduction,\n        yearlyCO2: yearlyCO2Reduction,\n        unit: 'kg'\n    },\n    status: activePowerSaving > 0 ? 'Saving Energy' : 'No Savings'\n};\n\nmsg.payload = data;\n\nnode.status({\n    fill: activePowerSaving > 0 ? \"green\" : \"yellow\",\n    shape: \"dot\",\n    text: `Saving: ${activePowerSaving.toFixed(2)} kW (${activePowerSavingPercent.toFixed(1)}%) | Peak: ${peakPowerSaving.toFixed(2)} kW`\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 920,
        "wires": [
            [
                "ui-energy-savings"
            ]
        ]
    },
    {
        "id": "ui-energy-savings",
        "type": "ui_template",
        "z": "tab-ksave-complete",
        "group": "ui-group-savings",
        "name": "Energy Savings Comparison",
        "order": 1,
        "width": 24,
        "height": 16,
        "format": "<style>\n.savings-container {\n    padding: 25px;\n    background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%);\n    border-radius: 15px;\n    color: white;\n    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n}\n\n.savings-header {\n    font-size: 32px;\n    font-weight: bold;\n    text-align: center;\n    margin-bottom: 10px;\n    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);\n}\n\n.savings-subtitle {\n    text-align: center;\n    font-size: 14px;\n    opacity: 0.9;\n    margin-bottom: 25px;\n}\n\n.comparison-grid {\n    display: grid;\n    grid-template-columns: 1fr 1fr 1fr;\n    gap: 20px;\n    margin-bottom: 25px;\n}\n\n.comparison-card {\n    background: rgba(255,255,255,0.2);\n    backdrop-filter: blur(10px);\n    padding: 20px;\n    border-radius: 12px;\n    text-align: center;\n    border: 2px solid rgba(255,255,255,0.4);\n}\n\n.card-title {\n    font-size: 13px;\n    opacity: 0.9;\n    text-transform: uppercase;\n    letter-spacing: 1px;\n    margin-bottom: 15px;\n}\n\n.card-value {\n    font-size: 28px;\n    font-weight: bold;\n    margin-bottom: 5px;\n}\n\n.card-label {\n    font-size: 11px;\n    opacity: 0.8;\n}\n\n.savings-grid {\n    display: grid;\n    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n    gap: 15px;\n    margin-bottom: 20px;\n}\n\n.savings-card {\n    background: rgba(255,255,255,0.25);\n    backdrop-filter: blur(10px);\n    padding: 20px;\n    border-radius: 12px;\n    text-align: center;\n    border: 2px solid rgba(255,255,255,0.5);\n    transition: transform 0.3s ease;\n}\n\n.savings-card:hover {\n    transform: translateY(-5px);\n    box-shadow: 0 10px 25px rgba(0,0,0,0.3);\n}\n\n.savings-icon {\n    font-size: 36px;\n    margin-bottom: 10px;\n}\n\n.savings-label {\n    font-size: 12px;\n    opacity: 0.9;\n    text-transform: uppercase;\n    margin-bottom: 8px;\n}\n\n.savings-value {\n    font-size: 26px;\n    font-weight: bold;\n    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);\n}\n\n.savings-percent {\n    font-size: 14px;\n    opacity: 0.9;\n    margin-top: 5px;\n}\n\n.cost-section {\n    background: rgba(255,255,255,0.2);\n    padding: 20px;\n    border-radius: 12px;\n    margin-bottom: 15px;\n}\n\n.cost-grid {\n    display: grid;\n    grid-template-columns: repeat(3, 1fr);\n    gap: 15px;\n    margin-top: 15px;\n}\n\n.cost-item {\n    text-align: center;\n    padding: 15px;\n    background: rgba(255,255,255,0.15);\n    border-radius: 10px;\n}\n\n.cost-label {\n    font-size: 11px;\n    opacity: 0.8;\n    margin-bottom: 8px;\n}\n\n.cost-value {\n    font-size: 24px;\n    font-weight: bold;\n}\n\n.env-section {\n    background: rgba(255,255,255,0.2);\n    padding: 20px;\n    border-radius: 12px;\n    text-align: center;\n}\n\n.env-title {\n    font-size: 16px;\n    font-weight: bold;\n    margin-bottom: 15px;\n}\n\n.co2-value {\n    font-size: 32px;\n    font-weight: bold;\n    margin: 10px 0;\n}\n\n.timestamp {\n    text-align: center;\n    margin-top: 15px;\n    font-size: 12px;\n    opacity: 0.8;\n    font-style: italic;\n}\n\n.positive { color: #00ff88; }\n.negative { color: #ff6b6b; }\n</style>\n\n<div class=\"savings-container\">\n    <div class=\"savings-header\">๐ฐ Energy Savings Analysis</div>\n    <div class=\"savings-subtitle\">Comparing Power Before vs After K-SAVE System</div>\n    \n    <!-- Before vs Metrics Comparison -->\n    <div class=\"comparison-grid\">\n        <div class=\"comparison-card\">\n            <div class=\"card-title\">โก Before K-SAVE</div>\n            <div class=\"card-value\">{{msg.payload.before.activeP | number:2}}</div>\n            <div class=\"card-label\">kW</div>\n        </div>\n        \n        <div class=\"comparison-card\" style=\"background: rgba(255,255,255,0.35); border-color: rgba(255,255,255,0.6);\">\n            <div class=\"card-title\">๐ After K-SAVE</div>\n            <div class=\"card-value\">{{msg.payload.metrics.activeP | number:2}}</div>\n            <div class=\"card-label\">kW</div>\n        </div>\n        \n        <div class=\"comparison-card\" style=\"background: rgba(0,255,136,0.3); border-color: rgba(0,255,136,0.6);\">\n            <div class=\"card-title\">๐ฏ Energy Saved</div>\n            <div class=\"card-value\" ng-class=\"msg.payload.savings.activePower > 0 ? 'positive' : 'negative'\">\n                {{msg.payload.savings.activePower | number:2}}\n            </div>\n            <div class=\"card-label\">kW ({{msg.payload.savings.activePowerPercent | number:1}}%)</div>\n        </div>\n    </div>\n    \n    <!-- Power Savings Details -->\n    <div class=\"savings-grid\">\n        <div class=\"savings-card\">\n            <div class=\"savings-icon\">โก</div>\n            <div class=\"savings-label\">Active Power Saved</div>\n            <div class=\"savings-value\">{{msg.payload.savings.activePower | number:2}} kW</div>\n            <div class=\"savings-percent\">{{msg.payload.savings.activePowerPercent | number:1}}%</div>\n        </div>\n        \n        <div class=\"savings-card\">\n            <div class=\"savings-icon\">๐</div>\n            <div class=\"savings-label\">Reactive Power Saved</div>\n            <div class=\"savings-value\">{{msg.payload.savings.reactivePower | number:2}} kVAR</div>\n            <div class=\"savings-percent\">{{msg.payload.savings.reactivePowerPercent | number:1}}%</div>\n        </div>\n        \n        <div class=\"savings-card\">\n            <div class=\"savings-icon\">๐</div>\n            <div class=\"savings-label\">Power Factor Improvement</div>\n            <div class=\"savings-value\" ng-class=\"msg.payload.savings.pfImprovement > 0 ? 'positive' : 'negative'\">\n                {{msg.payload.savings.pfImprovement > 0 ? '+' : ''}}{{msg.payload.savings.pfImprovement | number:3}}\n            </div>\n            <div class=\"savings-percent\">{{msg.payload.savings.pfImprovementPercent | number:1}}%</div>\n        </div>\n        \n        <div class=\"savings-card\">\n            <div class=\"savings-icon\">ใฐ๏ธ</div>\n            <div class=\"savings-label\">THD Reduction</div>\n            <div class=\"savings-value\">{{msg.payload.savings.thdReduction | number:1}} %</div>\n            <div class=\"savings-percent\">{{msg.payload.savings.thdReductionPercent | number:1}}%</div>\n        </div>\n    </div>\n    \n    <!-- Peak Load Analysis -->\n    <div class=\"cost-section\" style=\"background: linear-gradient(135deg, rgba(255,107,107,0.3) 0%, rgba(255,193,7,0.3) 100%); border: 2px solid rgba(255,255,255,0.5);\">\n        <div style=\"font-size: 18px; font-weight: bold; text-align: center; margin-bottom: 15px;\">๐บ Peak Load Analysis</div>\n        <div style=\"display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 15px;\">\n            <div style=\"text-align: center; padding: 15px; background: rgba(255,255,255,0.2); border-radius: 10px;\">\n                <div style=\"font-size: 11px; opacity: 0.9; text-transform: uppercase; margin-bottom: 8px;\">โก Peak Before</div>\n                <div style=\"font-size: 24px; font-weight: bold;\">{{msg.payload.peak.before.P | number:2}}</div>\n                <div style=\"font-size: 11px; opacity: 0.8; margin-top: 5px;\">kW</div>\n                <div style=\"font-size: 10px; opacity: 0.7; margin-top: 5px;\">I: {{msg.payload.peak.before.I1 | number:1}}/{{msg.payload.peak.before.I2 | number:1}}/{{msg.payload.peak.before.I3 | number:1}} A</div>\n            </div>\n            <div style=\"text-align: center; padding: 15px; background: rgba(255,255,255,0.2); border-radius: 10px;\">\n                <div style=\"font-size: 11px; opacity: 0.9; text-transform: uppercase; margin-bottom: 8px;\">๐ Peak After</div>\n                <div style=\"font-size: 24px; font-weight: bold;\">{{msg.payload.peak.metrics.P | number:2}}</div>\n                <div style=\"font-size: 11px; opacity: 0.8; margin-top: 5px;\">kW</div>\n                <div style=\"font-size: 10px; opacity: 0.7; margin-top: 5px;\">I: {{msg.payload.peak.metrics.I1 | number:1}}/{{msg.payload.peak.metrics.I2 | number:1}}/{{msg.payload.peak.metrics.I3 | number:1}} A</div>\n            </div>\n            <div style=\"text-align: center; padding: 15px; background: rgba(0,255,136,0.3); border-radius: 10px; border: 2px solid rgba(0,255,136,0.5);\">\n                <div style=\"font-size: 11px; opacity: 0.9; text-transform: uppercase; margin-bottom: 8px;\">๐ฏ Peak Savings</div>\n                <div style=\"font-size: 24px; font-weight: bold; color: #00ff88;\">{{msg.payload.peak.saving | number:2}}</div>\n                <div style=\"font-size: 11px; opacity: 0.8; margin-top: 5px;\">kW ({{msg.payload.peak.savingPercent | number:1}}%)</div>\n                <div style=\"font-size: 10px; opacity: 0.9; margin-top: 8px; font-weight: bold;\">โฉ{{msg.payload.peak.cost.monthly | number:0}}/mo</div>\n            </div>\n        </div>\n    </div>\n    \n    <!-- Cost Savings -->\n    <div class=\"cost-section\">\n        <div style=\"font-size: 18px; font-weight: bold; text-align: center; margin-bottom: 10px;\">๐ต Cost Savings (@ 150 KRW/kWh)</div>\n        <div class=\"cost-grid\">\n            <div class=\"cost-item\">\n                <div class=\"cost-label\">Daily</div>\n                <div class=\"cost-value\">{{msg.payload.cost.daily | number:0}}</div>\n                <div style=\"font-size: 12px; opacity: 0.8; margin-top: 5px;\">โฉ/day</div>\n            </div>\n            <div class=\"cost-item\">\n                <div class=\"cost-label\">Monthly</div>\n                <div class=\"cost-value\">{{msg.payload.cost.monthly | number:0}}</div>\n                <div style=\"font-size: 12px; opacity: 0.8; margin-top: 5px;\">โฉ/month</div>\n            </div>\n            <div class=\"cost-item\">\n                <div class=\"cost-label\">Yearly</div>\n                <div class=\"cost-value\">{{msg.payload.cost.yearly | number:0}}</div>\n                <div style=\"font-size: 12px; opacity: 0.8; margin-top: 5px;\">โฉ/year</div>\n            </div>\n        </div>\n    </div>\n    \n    <!-- Environmental Impact -->\n    <div class=\"env-section\">\n        <div class=\"env-title\">๐ฑ Environmental Impact - COโ Reduction</div>\n        <div style=\"display: grid; grid-template-columns: repeat(3, 1fr); gap: 15px; margin-top: 15px;\">\n            <div>\n                <div style=\"font-size: 11px; opacity: 0.8;\">Daily</div>\n                <div class=\"co2-value\" style=\"font-size: 20px;\">{{msg.payload.environmental.dailyCO2 | number:1}}</div>\n                <div style=\"font-size: 11px; opacity: 0.8;\">kg COโ</div>\n            </div>\n            <div>\n                <div style=\"font-size: 11px; opacity: 0.8;\">Monthly</div>\n                <div class=\"co2-value\" style=\"font-size: 20px;\">{{msg.payload.environmental.monthlyCO2 | number:0}}</div>\n                <div style=\"font-size: 11px; opacity: 0.8;\">kg COโ</div>\n            </div>\n            <div>\n                <div style=\"font-size: 11px; opacity: 0.8;\">Yearly</div>\n                <div class=\"co2-value\" style=\"font-size: 20px;\">{{msg.payload.environmental.yearlyCO2 | number:0}}</div>\n                <div style=\"font-size: 11px; opacity: 0.8;\">kg COโ</div>\n            </div>\n        </div>\n    </div>\n    \n    <div class=\"timestamp\">\n        ๐ Last Update: {{msg.payload.timestamp}}\n    </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 710,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "chart-main-before-voltage",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Main Before Voltage Chart",
        "group": "ui-group-main-before-charts",
        "order": 1,
        "width": 12,
        "height": 5,
        "label": "Before - Voltage (V) L1/L2/L3",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "280",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#ff6b6b","#51cf66","#74c0fc"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 1080,
        "wires": [[]]
    },
    {
        "id": "chart-main-before-current",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Main Before Current Chart",
        "group": "ui-group-main-before-charts",
        "order": 2,
        "width": 12,
        "height": 5,
        "label": "Before - Current (A) L1/L2/L3",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#f093fb","#f5576c","#fda085"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 1120,
        "wires": [[]]
    },
    {
        "id": "chart-main-before-power",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Main Before Power Chart",
        "group": "ui-group-main-before-charts",
        "order": 3,
        "width": 12,
        "height": 5,
        "label": "Before - Power (kW) P/Q/S",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#4facfe","#43e97b","#fa709a"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 1160,
        "wires": [[]]
    },
    {
        "id": "chart-main-before-thd",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Main Before THD Chart",
        "group": "ui-group-main-before-charts",
        "order": 4,
        "width": 12,
        "height": 5,
        "label": "Before - THD (%) Harmonic",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "25",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#ff6b6b"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 1200,
        "wires": [[]]
    },
    {
        "id": "chart-main-metrics-voltage",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Main Metrics Voltage Chart",
        "group": "ui-group-main-metrics-charts",
        "order": 1,
        "width": 12,
        "height": 5,
        "label": "Metrics - Voltage (V) L1/L2/L3",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "280",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1abc9c","#16a085","#0e7c68"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 1240,
        "wires": [[]]
    },
    {
        "id": "chart-main-metrics-current",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Main Metrics Current Chart",
        "group": "ui-group-main-metrics-charts",
        "order": 2,
        "width": 12,
        "height": 5,
        "label": "Metrics - Current (A) L1/L2/L3",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#3498db","#2980b9","#21618c"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 1280,
        "wires": [[]]
    },
    {
        "id": "chart-main-metrics-power",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Main Metrics Power Chart",
        "group": "ui-group-main-metrics-charts",
        "order": 3,
        "width": 12,
        "height": 5,
        "label": "Metrics - Power (kW) P/Q/S",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#9b59b6","#27ae60","#e67e22"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 1320,
        "wires": [[]]
    },
    {
        "id": "chart-main-metrics-thd",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Main Metrics THD Chart",
        "group": "ui-group-main-metrics-charts",
        "order": 4,
        "width": 12,
        "height": 5,
        "label": "Metrics - THD (%) Harmonic",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "25",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#e74c3c"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 1360,
        "wires": [[]]
    },
    {
        "id": "inject-comparison-charts",
        "type": "inject",
        "z": "tab-ksave-complete",
        "name": "Update Comparison Charts every 2s",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 180,
        "y": 1460,
        "wires": [[
            "prepare-comparison-voltage",
            "prepare-comparison-current",
            "prepare-comparison-power",
            "prepare-comparison-thd"
        ]]
    },
    {
        "id": "prepare-comparison-voltage",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Compare Voltage Before vs Metrics",
        "func": "// Before L1, L2, L3\nvar msg1 = {topic: \"Before L1\", payload: flow.get('before_L1') || 0};\nvar msg2 = {topic: \"Before L2\", payload: flow.get('before_L2') || 0};\nvar msg3 = {topic: \"Before L3\", payload: flow.get('before_L3') || 0};\n// Metrics L1, L2, L3\nvar msg4 = {topic: \"Metrics L1\", payload: flow.get('metrics_L1') || 0};\nvar msg5 = {topic: \"Metrics L2\", payload: flow.get('metrics_L2') || 0};\nvar msg6 = {topic: \"Metrics L3\", payload: flow.get('metrics_L3') || 0};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1420,
        "wires": [
            ["chart-comparison-voltage"],
            ["chart-comparison-voltage"],
            ["chart-comparison-voltage"],
            ["chart-comparison-voltage"],
            ["chart-comparison-voltage"],
            ["chart-comparison-voltage"]
        ]
    },
    {
        "id": "prepare-comparison-current",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Compare Current Before vs Metrics",
        "func": "// Before I1, I2, I3\nvar msg1 = {topic: \"Before L1\", payload: flow.get('before_I1') || 0};\nvar msg2 = {topic: \"Before L2\", payload: flow.get('before_I2') || 0};\nvar msg3 = {topic: \"Before L3\", payload: flow.get('before_I3') || 0};\n// Metrics I1, I2, I3\nvar msg4 = {topic: \"Metrics L1\", payload: flow.get('metrics_I1') || 0};\nvar msg5 = {topic: \"Metrics L2\", payload: flow.get('metrics_I2') || 0};\nvar msg6 = {topic: \"Metrics L3\", payload: flow.get('metrics_I3') || 0};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1480,
        "wires": [
            ["chart-comparison-current"],
            ["chart-comparison-current"],
            ["chart-comparison-current"],
            ["chart-comparison-current"],
            ["chart-comparison-current"],
            ["chart-comparison-current"]
        ]
    },
    {
        "id": "prepare-comparison-power",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Compare Power Before vs Metrics",
        "func": "// Before P, Q, S\nvar msg1 = {topic: \"Before P\", payload: flow.get('before_P') || 0};\nvar msg2 = {topic: \"Before Q\", payload: flow.get('before_Q') || 0};\nvar msg3 = {topic: \"Before S\", payload: flow.get('before_S') || 0};\n// Metrics P, Q, S\nvar msg4 = {topic: \"Metrics P\", payload: flow.get('metrics_P') || 0};\nvar msg5 = {topic: \"Metrics Q\", payload: flow.get('metrics_Q') || 0};\nvar msg6 = {topic: \"Metrics S\", payload: flow.get('metrics_S') || 0};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1540,
        "wires": [
            ["chart-comparison-power"],
            ["chart-comparison-power"],
            ["chart-comparison-power"],
            ["chart-comparison-power"],
            ["chart-comparison-power"],
            ["chart-comparison-power"]
        ]
    },
    {
        "id": "prepare-comparison-thd",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Compare THD Before vs Metrics",
        "func": "// Before THD\nvar msg1 = {topic: \"Before THD\", payload: flow.get('before_THD') || 0};\n// Metrics THD\nvar msg2 = {topic: \"Metrics THD\", payload: flow.get('metrics_THD') || 0};\n\nreturn [msg1, msg2];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1600,
        "wires": [
            ["chart-comparison-thd"],
            ["chart-comparison-thd"]
        ]
    },
    {
        "id": "chart-comparison-voltage",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Voltage Comparison Chart",
        "group": "ui-group-comparison-charts",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "Voltage (V) - Before vs Metrics",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "280",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#ff6b6b","#51cf66","#74c0fc","#1abc9c","#16a085","#0e7c68"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 1420,
        "wires": [[]]
    },
    {
        "id": "chart-comparison-current",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Current Comparison Chart",
        "group": "ui-group-comparison-charts",
        "order": 2,
        "width": 12,
        "height": 6,
        "label": "Current (A) - Before vs Metrics",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#f093fb","#f5576c","#fda085","#3498db","#2980b9","#21618c"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 1480,
        "wires": [[]]
    },
    {
        "id": "chart-comparison-power",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Power Comparison Chart",
        "group": "ui-group-comparison-charts",
        "order": 3,
        "width": 12,
        "height": 6,
        "label": "Power (kW) - Before vs Metrics",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#4facfe","#43e97b","#fa709a","#9b59b6","#27ae60","#e67e22"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 1540,
        "wires": [[]]
    },
    {
        "id": "chart-comparison-thd",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "THD Comparison Chart",
        "group": "ui-group-comparison-charts",
        "order": 4,
        "width": 12,
        "height": 6,
        "label": "THD (%) - Before vs Metrics",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "25",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#ff6b6b","#e74c3c"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 1600,
        "wires": [[]]
    },
    {
        "id": "modbus-server",
        "type": "modbus-client",
        "name": "K-SAVE Modbus RTU",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "500",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "100",
        "clientTimeout": "3000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "5000",
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "inject-before-detail",
        "type": "inject",
        "z": "tab-ksave-complete",
        "name": "Update Before Detail every 2s",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 180,
        "y": 1100,
        "wires": [
            [
                "prepare-before-detail"
            ]
        ]
    },
    {
        "id": "prepare-before-detail",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Prepare Before Detail Data",
        "func": "const data = {\n    voltage: {\n        L1: flow.get('before_L1') || 0,\n        L2: flow.get('before_L2') || 0,\n        L3: flow.get('before_L3') || 0\n    },\n    current: {\n        L1: flow.get('before_I1') || 0,\n        L2: flow.get('before_I2') || 0,\n        L3: flow.get('before_I3') || 0\n    },\n    power: {\n        active: flow.get('before_P') || 0,\n        reactive: flow.get('before_Q') || 0,\n        apparent: flow.get('before_S') || 0\n    },\n    pf: flow.get('before_PF') || 0,\n    thd: flow.get('before_THD') || 0,\n    frequency: flow.get('before_F') || 0,\n    timestamp: new Date().toLocaleString('en-US', {timeZone: 'Asia/Seoul'})\n};\n\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1100,
        "wires": [
            [
                "ui-before-gauge",
                "chart-before-voltage",
                "chart-before-current",
                "chart-before-power",
                "prepare-before-voltage-chart",
                "prepare-before-current-chart",
                "prepare-before-power-chart",
                "prepare-before-thd-chart"
            ]
        ]
    },
    {
        "id": "prepare-before-voltage-chart",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Format Voltage for Chart",
        "func": "// Send L1\nvar msg1 = {topic: \"L1\", payload: flow.get('before_L1') || 0};\n// Send L2\nvar msg2 = {topic: \"L2\", payload: flow.get('before_L2') || 0};\n// Send L3\nvar msg3 = {topic: \"L3\", payload: flow.get('before_L3') || 0};\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1100,
        "wires": [
            ["chart-before-voltage", "chart-main-before-voltage"],
            ["chart-before-voltage", "chart-main-before-voltage"],
            ["chart-before-voltage", "chart-main-before-voltage"]
        ]
    },
    {
        "id": "prepare-before-current-chart",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Format Current for Chart",
        "func": "// Send L1\nvar msg1 = {topic: \"L1\", payload: flow.get('before_I1') || 0};\n// Send L2\nvar msg2 = {topic: \"L2\", payload: flow.get('before_I2') || 0};\n// Send L3\nvar msg3 = {topic: \"L3\", payload: flow.get('before_I3') || 0};\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1140,
        "wires": [
            ["chart-before-current", "chart-main-before-current"],
            ["chart-before-current", "chart-main-before-current"],
            ["chart-before-current", "chart-main-before-current"]
        ]
    },
    {
        "id": "prepare-before-power-chart",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Format Power for Chart",
        "func": "// Send P (Active Power)\nvar msg1 = {topic: \"P (Active)\", payload: flow.get('before_P') || 0};\n// Send Q (Reactive Power)\nvar msg2 = {topic: \"Q (Reactive)\", payload: flow.get('before_Q') || 0};\n// Send S (Apparent Power)\nvar msg3 = {topic: \"S (Apparent)\", payload: flow.get('before_S') || 0};\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1180,
        "wires": [
            ["chart-before-power", "chart-main-before-power"],
            ["chart-before-power", "chart-main-before-power"],
            ["chart-before-power", "chart-main-before-power"]
        ]
    },
    {
        "id": "prepare-before-thd-chart",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Format THD for Chart",
        "func": "// Send THD value\nvar msg1 = {topic: \"THD\", payload: flow.get('before_THD') || 0};\n\nreturn msg1;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1220,
        "wires": [
            ["chart-before-thd", "chart-main-before-thd"]
        ]
    },
    {
        "id": "ui-before-gauge",
        "type": "ui_template",
        "z": "tab-ksave-complete",
        "group": "ui-group-before-values",
        "name": "Before Values Display",
        "order": 1,
        "width": 12,
        "height": 10,
        "format": "<div style=\"padding: 15px;\">\n    <h3 style=\"text-align: center; color: #667eea;\">โก Power Before - Real-time Values</h3>\n    \n    <div style=\"display: grid; grid-template-columns: repeat(5, 1fr); gap: 15px; margin-top: 20px;\">\n        <!-- Voltage -->\n        <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Voltage L1</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.voltage.L1 | number:1}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">V</div>\n        </div>\n        <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Voltage L2</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.voltage.L2 | number:1}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">V</div>\n        </div>\n        <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Voltage L3</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.voltage.L3 | number:1}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">V</div>\n        </div>\n        \n        <!-- Current -->\n        <div style=\"background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Current L1</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.current.L1 | number:2}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">A</div>\n        </div>\n        <div style=\"background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Current L2</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.current.L2 | number:2}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">A</div>\n        </div>\n        <div style=\"background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Current L3</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.current.L3 | number:2}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">A</div>\n        </div>\n        \n        <!-- Power -->\n        <div style=\"background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Active Power</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.power.active | number:2}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">kW</div>\n        </div>\n        <div style=\"background: linear-gradient(135deg, #43e97b 0%, #38f9d7 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Power Factor</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.pf | number:3}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">PF</div>\n        </div>\n        <div style=\"background: linear-gradient(135deg, #fa709a 0%, #fee140 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Frequency</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.frequency | number:2}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">Hz</div>\n        </div>\n        <div style=\"background: linear-gradient(135deg, #ff6b6b 0%, #ee5a6f 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">THD (Harmonic)</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.thd | number:1}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">%</div>\n        </div>\n    </div>\n    \n    <div style=\"text-align: center; margin-top: 15px; font-size: 11px; color: #666;\">\n        Last Update: {{msg.payload.timestamp}}\n    </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 1080,
        "wires": [[]]
    },
    {
        "id": "chart-before-voltage",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Before Voltage Chart",
        "group": "ui-group-before-charts",
        "order": 1,
        "width": 12,
        "height": 5,
        "label": "Voltage (V) - L1/L2/L3",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "280",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#ff6b6b","#51cf66","#74c0fc"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1120,
        "wires": [[]]
    },
    {
        "id": "chart-before-current",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Before Current Chart",
        "group": "ui-group-before-charts",
        "order": 2,
        "width": 12,
        "height": 5,
        "label": "Current (A) - L1/L2/L3",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#f093fb","#f5576c","#fda085"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1160,
        "wires": [[]]
    },
    {
        "id": "chart-before-power",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Before Power Chart",
        "group": "ui-group-before-charts",
        "order": 3,
        "width": 12,
        "height": 5,
        "label": "Power (kW) - P/Q/S",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#4facfe","#43e97b","#fa709a"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1200,
        "wires": [[]]
    },
    {
        "id": "chart-before-thd",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Before THD Chart",
        "group": "ui-group-before-charts",
        "order": 4,
        "width": 12,
        "height": 5,
        "label": "THD (%) - Harmonic Distortion",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "25",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#ff6b6b"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1240,
        "wires": [[]]
    },
    {
        "id": "inject-metrics-detail",
        "type": "inject",
        "z": "tab-ksave-complete",
        "name": "Update Metrics Detail every 2s",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 180,
        "y": 1280,
        "wires": [
            [
                "prepare-metrics-detail"
            ]
        ]
    },
    {
        "id": "prepare-metrics-detail",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Prepare Metrics Detail Data",
        "func": "const data = {\n    voltage: {\n        L1: flow.get('metrics_L1') || 0,\n        L2: flow.get('metrics_L2') || 0,\n        L3: flow.get('metrics_L3') || 0\n    },\n    current: {\n        L1: flow.get('metrics_I1') || 0,\n        L2: flow.get('metrics_I2') || 0,\n        L3: flow.get('metrics_I3') || 0\n    },\n    power: {\n        active: flow.get('metrics_P') || 0,\n        reactive: flow.get('metrics_Q') || 0,\n        apparent: flow.get('metrics_S') || 0\n    },\n    pf: flow.get('metrics_PF') || 0,\n    thd: flow.get('metrics_THD') || 0,\n    frequency: flow.get('metrics_F') || 0,\n    timestamp: new Date().toLocaleString('en-US', {timeZone: 'Asia/Seoul'})\n};\n\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1280,
        "wires": [
            [
                "ui-metrics-gauge",
                "chart-metrics-voltage",
                "chart-metrics-current",
                "chart-metrics-power",
                "prepare-metrics-voltage-chart",
                "prepare-metrics-current-chart",
                "prepare-metrics-power-chart",
                "prepare-metrics-thd-chart"
            ]
        ]
    },
    {
        "id": "prepare-metrics-voltage-chart",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Format Voltage for Chart",
        "func": "// Send L1\nvar msg1 = {topic: \"L1\", payload: flow.get('metrics_L1') || 0};\n// Send L2\nvar msg2 = {topic: \"L2\", payload: flow.get('metrics_L2') || 0};\n// Send L3\nvar msg3 = {topic: \"L3\", payload: flow.get('metrics_L3') || 0};\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1280,
        "wires": [
            ["chart-metrics-voltage", "chart-main-metrics-voltage"],
            ["chart-metrics-voltage", "chart-main-metrics-voltage"],
            ["chart-metrics-voltage", "chart-main-metrics-voltage"]
        ]
    },
    {
        "id": "prepare-metrics-current-chart",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Format Current for Chart",
        "func": "// Send L1\nvar msg1 = {topic: \"L1\", payload: flow.get('metrics_I1') || 0};\n// Send L2\nvar msg2 = {topic: \"L2\", payload: flow.get('metrics_I2') || 0};\n// Send L3\nvar msg3 = {topic: \"L3\", payload: flow.get('metrics_I3') || 0};\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1320,
        "wires": [
            ["chart-metrics-current", "chart-main-metrics-current"],
            ["chart-metrics-current", "chart-main-metrics-current"],
            ["chart-metrics-current", "chart-main-metrics-current"]
        ]
    },
    {
        "id": "prepare-metrics-power-chart",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Format Power for Chart",
        "func": "// Send P (Active Power)\nvar msg1 = {topic: \"P (Active)\", payload: flow.get('metrics_P') || 0};\n// Send Q (Reactive Power)\nvar msg2 = {topic: \"Q (Reactive)\", payload: flow.get('metrics_Q') || 0};\n// Send S (Apparent Power)\nvar msg3 = {topic: \"S (Apparent)\", payload: flow.get('metrics_S') || 0};\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1360,
        "wires": [
            ["chart-metrics-power", "chart-main-metrics-power"],
            ["chart-metrics-power", "chart-main-metrics-power"],
            ["chart-metrics-power", "chart-main-metrics-power"]
        ]
    },
    {
        "id": "prepare-metrics-thd-chart",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "Format THD for Chart",
        "func": "// Send THD value\nvar msg1 = {topic: \"THD\", payload: flow.get('metrics_THD') || 0};\n\nreturn msg1;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1400,
        "wires": [
            ["chart-metrics-thd", "chart-main-metrics-thd"]
        ]
    },
    {
        "id": "ui-metrics-gauge",
        "type": "ui_template",
        "z": "tab-ksave-complete",
        "group": "ui-group-metrics-values",
        "name": "Metrics Values Display",
        "order": 1,
        "width": 12,
        "height": 10,
        "format": "<div style=\"padding: 15px;\">\n    <h3 style=\"text-align: center; color: #1abc9c;\">๐ Power Metrics - Real-time Values</h3>\n    \n    <div style=\"display: grid; grid-template-columns: repeat(5, 1fr); gap: 15px; margin-top: 20px;\">\n        <!-- Voltage -->\n        <div style=\"background: linear-gradient(135deg, #1abc9c 0%, #16a085 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Voltage L1</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.voltage.L1 | number:1}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">V</div>\n        </div>\n        <div style=\"background: linear-gradient(135deg, #1abc9c 0%, #16a085 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Voltage L2</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.voltage.L2 | number:1}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">V</div>\n        </div>\n        <div style=\"background: linear-gradient(135deg, #1abc9c 0%, #16a085 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Voltage L3</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.voltage.L3 | number:1}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">V</div>\n        </div>\n        \n        <!-- Current -->\n        <div style=\"background: linear-gradient(135deg, #3498db 0%, #2980b9 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Current L1</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.current.L1 | number:2}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">A</div>\n        </div>\n        <div style=\"background: linear-gradient(135deg, #3498db 0%, #2980b9 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Current L2</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.current.L2 | number:2}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">A</div>\n        </div>\n        <div style=\"background: linear-gradient(135deg, #3498db 0%, #2980b9 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Current L3</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.current.L3 | number:2}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">A</div>\n        </div>\n        \n        <!-- Power -->\n        <div style=\"background: linear-gradient(135deg, #9b59b6 0%, #8e44ad 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Active Power</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.power.active | number:2}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">kW</div>\n        </div>\n        <div style=\"background: linear-gradient(135deg, #27ae60 0%, #229954 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Power Factor</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.pf | number:3}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">PF</div>\n        </div>\n        <div style=\"background: linear-gradient(135deg, #e67e22 0%, #d35400 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">Frequency</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.frequency | number:2}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">Hz</div>\n        </div>\n        <div style=\"background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%); padding: 15px; border-radius: 10px; color: white; text-align: center;\">\n            <div style=\"font-size: 12px; opacity: 0.9;\">THD (Harmonic)</div>\n            <div style=\"font-size: 28px; font-weight: bold; margin: 10px 0;\">{{msg.payload.thd | number:1}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">%</div>\n        </div>\n    </div>\n    \n    <div style=\"text-align: center; margin-top: 15px; font-size: 11px; color: #666;\">\n        Last Update: {{msg.payload.timestamp}}\n    </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 1260,
        "wires": [[]]
    },
    {
        "id": "chart-metrics-voltage",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Metrics Voltage Chart",
        "group": "ui-group-metrics-charts",
        "order": 1,
        "width": 12,
        "height": 5,
        "label": "Voltage (V) - L1/L2/L3",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "280",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1abc9c","#16a085","#0e7c68"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1300,
        "wires": [[]]
    },
    {
        "id": "chart-metrics-current",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Metrics Current Chart",
        "group": "ui-group-metrics-charts",
        "order": 2,
        "width": 12,
        "height": 5,
        "label": "Current (A) - L1/L2/L3",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#3498db","#2980b9","#21618c"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1340,
        "wires": [[]]
    },
    {
        "id": "chart-metrics-power",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Metrics Power Chart",
        "group": "ui-group-metrics-charts",
        "order": 3,
        "width": 12,
        "height": 5,
        "label": "Power (kW) - P/Q/S",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#9b59b6","#27ae60","#e67e22"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1380,
        "wires": [[]]
    },
    {
        "id": "chart-metrics-thd",
        "type": "ui_chart",
        "z": "tab-ksave-complete",
        "name": "Metrics THD Chart",
        "group": "ui-group-metrics-charts",
        "order": 4,
        "width": 12,
        "height": 5,
        "label": "THD (%) - Harmonic Distortion",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "25",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#e74c3c"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1420,
        "wires": [[]]
    },
    {
        "id": "mqtt-subscribe",
        "type": "mqtt in",
        "z": "tab-mqtt-bridge",
        "name": "Subscribe from Pi",
        "topic": "ksave/power_monitor",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker-local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "debug-mqtt-received",
                "write-to-influxdb"
            ]
        ]
    },
    {
        "id": "debug-mqtt-received",
        "type": "debug",
        "z": "tab-mqtt-bridge",
        "name": "MQTT Data Received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "write-to-influxdb",
        "type": "influxdb out",
        "z": "tab-mqtt-bridge",
        "influxdb": "influxdb-config",
        "name": "Write to InfluxDB",
        "measurement": "power_monitor",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "k_db",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "K-Energy_Save",
        "bucket": "k_db",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "ui-group-before",
        "type": "ui_group",
        "name": "โก K-SAVE Power Before",
        "tab": "ui-tab-ksave",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui-group-metrics",
        "type": "ui_group",
        "name": "๐ K-SAVE Power Metrics",
        "tab": "ui-tab-ksave",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui-group-comparison-charts",
        "type": "ui_group",
        "name": "๐ Before vs Metrics Comparison",
        "tab": "ui-tab-ksave",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui-group-savings",
        "type": "ui_group",
        "name": "๐ฐ Energy Savings",
        "tab": "ui-tab-ksave",
        "order": 4,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui-group-main-before-charts",
        "type": "ui_group",
        "name": "๐ Before Charts",
        "tab": "ui-tab-ksave",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui-group-main-metrics-charts",
        "type": "ui_group",
        "name": "๐ Metrics Charts",
        "tab": "ui-tab-ksave",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui-group-before-values",
        "type": "ui_group",
        "name": "๐ Before - Measured Values",
        "tab": "ui-tab-before-detail",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui-group-before-charts",
        "type": "ui_group",
        "name": "๐ Before - Charts",
        "tab": "ui-tab-before-detail",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui-group-metrics-values",
        "type": "ui_group",
        "name": "๐ Metrics - Measured Values",
        "tab": "ui-tab-metrics-detail",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui-group-metrics-charts",
        "type": "ui_group",
        "name": "๐ Metrics - Charts",
        "tab": "ui-tab-metrics-detail",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui-tab-ksave",
        "type": "ui_tab",
        "name": "K-SAVE Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui-tab-before-detail",
        "type": "ui_tab",
        "name": "โก Power Before Detail",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui-tab-metrics-detail",
        "type": "ui_tab",
        "name": "๐ Power Metrics Detail",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "influxdb-config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "k_db",
        "name": "[v2.0] InfluxDB Local (localhost)",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": false,
        "token": "pdfVxTiBRham16G5dRfIJnr6aq5QmCPHR2IHl2bjQzFElRqDxIYFJnxpDS-qUndrUFDazeZIqOghZ-6w-kZiyQ==",
        "organization": "K-Energy_Save",
        "bucket": "k_db",
        "timeout": "10000",
        "keepAlive": true
    },
    {
        "id": "mqtt-broker-ksystem",
        "type": "mqtt-broker",
        "name": "K-System MQTT (172.20.24.10)",
        "broker": "172.20.24.10",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "ksave/status",
        "birthQos": "1",
        "birthRetain": "false",
        "birthPayload": "online",
        "birthMsg": {},
        "closeTopic": "ksave/status",
        "closeQos": "1",
        "closeRetain": "false",
        "closePayload": "offline",
        "closeMsg": {},
        "willTopic": "ksave/status",
        "willQos": "1",
        "willRetain": "false",
        "willPayload": "disconnected",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt-broker-local",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ai-peak-load-analyzer",
        "type": "function",
        "z": "tab-ksave-complete",
        "name": "AI Peak Load Analyzer",
        "func": "// AI-powered Peak Load Analysis and Optimization\n// Collect historical data and provide intelligent recommendations\n\n// Get current and peak data\nconst currentBeforeP = flow.get('before_P') || 0;\nconst currentMetricsP = flow.get('metrics_P') || 0;\nconst peakBeforeP = flow.get('peak_before_P') || 0;\nconst peakMetricsP = flow.get('peak_metrics_P') || 0;\nconst peakBeforeS = flow.get('peak_before_S') || 0;\nconst peakMetricsS = flow.get('peak_metrics_S') || 0;\n\nconst peakBeforeI1 = flow.get('peak_before_I1') || 0;\nconst peakBeforeI2 = flow.get('peak_before_I2') || 0;\nconst peakBeforeI3 = flow.get('peak_before_I3') || 0;\nconst peakMetricsI1 = flow.get('peak_metrics_I1') || 0;\nconst peakMetricsI2 = flow.get('peak_metrics_I2') || 0;\nconst peakMetricsI3 = flow.get('peak_metrics_I3') || 0;\n\nconst beforePF = flow.get('before_PF') || 0;\nconst metricsPF = flow.get('metrics_PF') || 0;\n\n// Calculate load factor (average / peak)\nconst loadFactorBefore = peakBeforeP > 0 ? (currentBeforeP / peakBeforeP) : 0;\nconst loadFactorMetrics = peakMetricsP > 0 ? (currentMetricsP / peakMetricsP) : 0;\n\n// Calculate phase imbalance\nconst avgCurrentBefore = (peakBeforeI1 + peakBeforeI2 + peakBeforeI3) / 3;\nconst imbalanceBefore = avgCurrentBefore > 0 ? \n    Math.max(\n        Math.abs(peakBeforeI1 - avgCurrentBefore),\n        Math.abs(peakBeforeI2 - avgCurrentBefore),\n        Math.abs(peakBeforeI3 - avgCurrentBefore)\n    ) / avgCurrentBefore * 100 : 0;\n\nconst avgCurrentMetrics = (peakMetricsI1 + peakMetricsI2 + peakMetricsI3) / 3;\nconst imbalanceMetrics = avgCurrentMetrics > 0 ? \n    Math.max(\n        Math.abs(peakMetricsI1 - avgCurrentMetrics),\n        Math.abs(peakMetricsI2 - avgCurrentMetrics),\n        Math.abs(peakMetricsI3 - avgCurrentMetrics)\n    ) / avgCurrentMetrics * 100 : 0;\n\n// Peak reduction percentage\nconst peakReduction = peakBeforeP > 0 ? ((peakBeforeP - peakMetricsP) / peakBeforeP * 100) : 0;\n\n// Calculate potential savings\nconst demandCharge = 200; // KRW per kW demand charge\nconst monthlySavingsFromPeak = (peakBeforeP - peakMetricsP) * demandCharge * 12; // Annual\n\n// AI Analysis and Recommendations\nlet insights = [];\nlet recommendations = [];\nlet priority = 'low';\nlet score = 100; // Start with perfect score\n\n// 1. Load Factor Analysis\nif (loadFactorBefore < 0.5) {\n    insights.push({\n        type: 'warning',\n        category: 'Load Factor',\n        message: `Low load factor (${(loadFactorBefore * 100).toFixed(1)}%) indicates inefficient use of capacity`,\n        impact: 'high'\n    });\n    recommendations.push({\n        priority: 'high',\n        action: 'Load Shifting',\n        description: 'Shift non-critical loads away from peak hours to improve load factor',\n        potentialSavings: monthlySavingsFromPeak * 0.3,\n        implementation: 'Schedule heavy equipment during off-peak hours (22:00-06:00)'\n    });\n    score -= 20;\n    priority = 'high';\n} else if (loadFactorBefore < 0.7) {\n    insights.push({\n        type: 'info',\n        category: 'Load Factor',\n        message: `Moderate load factor (${(loadFactorBefore * 100).toFixed(1)}%) - room for improvement`,\n        impact: 'medium'\n    });\n    score -= 10;\n}\n\n// 2. Phase Imbalance Analysis\nif (imbalanceBefore > 10) {\n    insights.push({\n        type: 'warning',\n        category: 'Phase Imbalance',\n        message: `High phase imbalance (${imbalanceBefore.toFixed(1)}%) causes inefficiency and equipment stress`,\n        impact: 'high'\n    });\n    recommendations.push({\n        priority: 'high',\n        action: 'Load Balancing',\n        description: 'Redistribute loads across phases to reduce imbalance below 5%',\n        potentialSavings: peakBeforeP * 0.05 * 3600 * 150, // 5% energy loss reduction\n        implementation: 'Move single-phase loads to balance L1/L2/L3 currents'\n    });\n    score -= 25;\n    priority = 'high';\n} else if (imbalanceBefore > 5) {\n    insights.push({\n        type: 'info',\n        category: 'Phase Imbalance',\n        message: `Moderate phase imbalance (${imbalanceBefore.toFixed(1)}%)`,\n        impact: 'medium'\n    });\n    score -= 10;\n}\n\n// 3. Power Factor Analysis\nif (beforePF < 0.85) {\n    insights.push({\n        type: 'critical',\n        category: 'Power Factor',\n        message: `Poor power factor (${beforePF.toFixed(3)}) - penalties may apply`,\n        impact: 'critical'\n    });\n    recommendations.push({\n        priority: 'critical',\n        action: 'Power Factor Correction',\n        description: 'Install additional capacitor banks or upgrade K-SAVE system',\n        potentialSavings: peakBeforeP * 0.15 * 3600 * 150,\n        implementation: 'Add capacitor banks sized for ' + (peakBeforeP * 0.4).toFixed(1) + ' kVAR'\n    });\n    score -= 30;\n    priority = 'critical';\n} else if (beforePF < 0.92) {\n    insights.push({\n        type: 'warning',\n        category: 'Power Factor',\n        message: `Low power factor (${beforePF.toFixed(3)}) - optimization needed`,\n        impact: 'medium'\n    });\n    score -= 15;\n}\n\n// 4. Peak Demand Analysis\nif (peakReduction < 10 && peakBeforeP > 50) {\n    insights.push({\n        type: 'info',\n        category: 'Peak Demand',\n        message: 'Significant peak demand reduction opportunity identified',\n        impact: 'high'\n    });\n    recommendations.push({\n        priority: 'medium',\n        action: 'Peak Shaving Strategy',\n        description: 'Implement peak shaving with energy storage or load curtailment',\n        potentialSavings: peakBeforeP * 0.15 * demandCharge * 12,\n        implementation: 'Install battery storage system or implement demand response program'\n    });\n}\n\n// 5. K-SAVE Performance Analysis\nif (metricsPF > beforePF + 0.05) {\n    insights.push({\n        type: 'success',\n        category: 'K-SAVE Performance',\n        message: `K-SAVE system improving power factor by ${((metricsPF - beforePF) * 100).toFixed(1)}%`,\n        impact: 'positive'\n    });\n    score += 10;\n}\n\nif (peakMetricsP < peakBeforeP * 0.9) {\n    insights.push({\n        type: 'success',\n        category: 'Peak Reduction',\n        message: `Peak load reduced by ${peakReduction.toFixed(1)}% with K-SAVE`,\n        impact: 'positive'\n    });\n    score += 10;\n}\n\n// 6. Energy Efficiency Score\nlet efficiencyGrade = 'A';\nif (score < 50) efficiencyGrade = 'E';\nelse if (score < 60) efficiencyGrade = 'D';\nelse if (score < 70) efficiencyGrade = 'C';\nelse if (score < 85) efficiencyGrade = 'B';\n\n// 7. Predictive Insights\nlet predictiveInsights = [];\nif (loadFactorBefore < 0.6 && imbalanceBefore > 8) {\n    predictiveInsights.push({\n        type: 'prediction',\n        message: 'High risk of equipment overheating and premature failure',\n        timeframe: '3-6 months',\n        preventive: 'Address phase imbalance and improve load distribution immediately'\n    });\n}\n\n// Calculate ROI for recommendations\nlet totalPotentialSavings = recommendations.reduce((sum, rec) => sum + (rec.potentialSavings || 0), 0);\n\n// Prepare output\nmsg.payload = {\n    timestamp: new Date().toISOString(),\n    analysis: {\n        loadFactor: {\n            before: loadFactorBefore,\n            metrics: loadFactorMetrics,\n            status: loadFactorBefore > 0.7 ? 'good' : loadFactorBefore > 0.5 ? 'fair' : 'poor'\n        },\n        phaseImbalance: {\n            before: imbalanceBefore,\n            metrics: imbalanceMetrics,\n            status: imbalanceBefore < 5 ? 'good' : imbalanceBefore < 10 ? 'fair' : 'poor',\n            beforeCurrents: {L1: peakBeforeI1, L2: peakBeforeI2, L3: peakBeforeI3},\n            metricsCurrents: {L1: peakMetricsI1, L2: peakMetricsI2, L3: peakMetricsI3}\n        },\n        peakDemand: {\n            before: peakBeforeP,\n            metrics: peakMetricsP,\n            reduction: peakReduction,\n            savingsPerYear: monthlySavingsFromPeak\n        },\n        powerFactor: {\n            before: beforePF,\n            metrics: metricsPF,\n            improvement: metricsPF - beforePF\n        },\n        efficiencyScore: score,\n        efficiencyGrade: efficiencyGrade\n    },\n    insights: insights,\n    recommendations: recommendations,\n    predictive: predictiveInsights,\n    summary: {\n        totalInsights: insights.length,\n        criticalIssues: insights.filter(i => i.type === 'critical').length,\n        warnings: insights.filter(i => i.type === 'warning').length,\n        totalPotentialSavings: totalPotentialSavings,\n        priorityLevel: priority,\n        actionRequired: recommendations.length > 0\n    }\n};\n\nnode.status({\n    fill: priority === 'critical' ? 'red' : priority === 'high' ? 'yellow' : 'green',\n    shape: 'dot',\n    text: `Score: ${score} (${efficiencyGrade}) | ${insights.length} insights | ${recommendations.length} actions`\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1000,
        "wires": [
            [
                "ui-ai-insights"
            ]
        ]
    },
    {
        "id": "inject-ai-analysis",
        "type": "inject",
        "z": "tab-ksave-complete",
        "name": "Run AI Analysis every 10s",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 180,
        "y": 1000,
        "wires": [
            [
                "ai-peak-load-analyzer"
            ]
        ]
    },
    {
        "id": "ui-ai-insights",
        "type": "ui_template",
        "z": "tab-ksave-complete",
        "group": "ui-group-ai-insights",
        "name": "AI Insights & Recommendations",
        "order": 1,
        "width": 24,
        "height": 12,
        "format": "<style>\n.ai-container {\n    padding: 20px;\n    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n    border-radius: 15px;\n    color: white;\n    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n}\n\n.ai-header {\n    font-size: 28px;\n    font-weight: bold;\n    text-align: center;\n    margin-bottom: 8px;\n    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);\n}\n\n.ai-subtitle {\n    text-align: center;\n    font-size: 13px;\n    opacity: 0.9;\n    margin-bottom: 20px;\n}\n\n.score-section {\n    display: grid;\n    grid-template-columns: 1fr 1fr 1fr 1fr;\n    gap: 15px;\n    margin-bottom: 20px;\n}\n\n.score-card {\n    background: rgba(255,255,255,0.2);\n    backdrop-filter: blur(10px);\n    padding: 15px;\n    border-radius: 10px;\n    text-align: center;\n    border: 2px solid rgba(255,255,255,0.3);\n}\n\n.score-label {\n    font-size: 11px;\n    opacity: 0.8;\n    text-transform: uppercase;\n    margin-bottom: 8px;\n}\n\n.score-value {\n    font-size: 32px;\n    font-weight: bold;\n    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);\n}\n\n.score-grade {\n    font-size: 48px;\n    font-weight: bold;\n    display: inline-block;\n    padding: 10px 20px;\n    background: rgba(255,255,255,0.3);\n    border-radius: 10px;\n    margin-top: 5px;\n}\n\n.insights-grid {\n    display: grid;\n    grid-template-columns: 1fr 1fr;\n    gap: 15px;\n    margin-bottom: 20px;\n}\n\n.insight-card {\n    background: rgba(255,255,255,0.15);\n    backdrop-filter: blur(10px);\n    padding: 15px;\n    border-radius: 10px;\n    border-left: 4px solid;\n}\n\n.insight-critical { border-left-color: #ff6b6b; }\n.insight-warning { border-left-color: #ffd93d; }\n.insight-info { border-left-color: #6bcf7f; }\n.insight-success { border-left-color: #00d9ff; }\n\n.insight-header {\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    margin-bottom: 8px;\n}\n\n.insight-category {\n    font-size: 11px;\n    font-weight: bold;\n    text-transform: uppercase;\n    opacity: 0.9;\n}\n\n.insight-impact {\n    font-size: 10px;\n    padding: 3px 8px;\n    background: rgba(255,255,255,0.2);\n    border-radius: 5px;\n}\n\n.insight-message {\n    font-size: 13px;\n    line-height: 1.4;\n}\n\n.recommendations-section {\n    background: rgba(255,255,255,0.15);\n    padding: 15px;\n    border-radius: 10px;\n    margin-bottom: 15px;\n}\n\n.rec-title {\n    font-size: 16px;\n    font-weight: bold;\n    margin-bottom: 15px;\n    text-align: center;\n}\n\n.rec-card {\n    background: rgba(255,255,255,0.2);\n    padding: 12px;\n    border-radius: 8px;\n    margin-bottom: 10px;\n    border-left: 4px solid;\n}\n\n.rec-high { border-left-color: #ff6b6b; }\n.rec-medium { border-left-color: #ffd93d; }\n.rec-low { border-left-color: #6bcf7f; }\n\n.rec-header {\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    margin-bottom: 8px;\n}\n\n.rec-action {\n    font-size: 14px;\n    font-weight: bold;\n}\n\n.rec-savings {\n    font-size: 12px;\n    background: rgba(0,255,136,0.3);\n    padding: 3px 10px;\n    border-radius: 5px;\n    font-weight: bold;\n}\n\n.rec-description {\n    font-size: 12px;\n    opacity: 0.9;\n    margin-bottom: 5px;\n}\n\n.rec-implementation {\n    font-size: 11px;\n    opacity: 0.8;\n    font-style: italic;\n    background: rgba(0,0,0,0.2);\n    padding: 5px 8px;\n    border-radius: 5px;\n    margin-top: 5px;\n}\n\n.analysis-grid {\n    display: grid;\n    grid-template-columns: repeat(4, 1fr);\n    gap: 10px;\n    margin-bottom: 15px;\n}\n\n.analysis-metric {\n    background: rgba(255,255,255,0.15);\n    padding: 10px;\n    border-radius: 8px;\n    text-align: center;\n}\n\n.metric-label {\n    font-size: 10px;\n    opacity: 0.8;\n    margin-bottom: 5px;\n}\n\n.metric-value {\n    font-size: 18px;\n    font-weight: bold;\n}\n\n.metric-status {\n    font-size: 9px;\n    margin-top: 3px;\n    padding: 2px 6px;\n    background: rgba(255,255,255,0.2);\n    border-radius: 3px;\n    display: inline-block;\n}\n\n.status-good { background: rgba(0,255,136,0.3); }\n.status-fair { background: rgba(255,217,61,0.3); }\n.status-poor { background: rgba(255,107,107,0.3); }\n\n.timestamp {\n    text-align: center;\n    font-size: 11px;\n    opacity: 0.7;\n    margin-top: 10px;\n}\n</style>\n\n<div class=\"ai-container\">\n    <div class=\"ai-header\">๐ค AI Peak Load Optimization</div>\n    <div class=\"ai-subtitle\">Intelligent Analysis & Energy Efficiency Recommendations</div>\n    \n    <!-- Efficiency Score -->\n    <div class=\"score-section\">\n        <div class=\"score-card\" style=\"grid-column: span 2;\">\n            <div class=\"score-label\">Efficiency Score</div>\n            <div class=\"score-value\" ng-style=\"{'color': msg.payload.analysis.efficiencyScore > 85 ? '#00ff88' : msg.payload.analysis.efficiencyScore > 70 ? '#ffd93d' : '#ff6b6b'}\">\n                {{msg.payload.analysis.efficiencyScore}}/100\n            </div>\n            <div class=\"score-grade\" ng-style=\"{'color': msg.payload.analysis.efficiencyScore > 85 ? '#00ff88' : msg.payload.analysis.efficiencyScore > 70 ? '#ffd93d' : '#ff6b6b'}\">\n                {{msg.payload.analysis.efficiencyGrade}}\n            </div>\n        </div>\n        <div class=\"score-card\">\n            <div class=\"score-label\">Insights Found</div>\n            <div class=\"score-value\">{{msg.payload.summary.totalInsights}}</div>\n            <div style=\"font-size: 10px; margin-top: 5px; opacity: 0.8;\">\n                {{msg.payload.summary.criticalIssues}} Critical<br>\n                {{msg.payload.summary.warnings}} Warnings\n            </div>\n        </div>\n        <div class=\"score-card\">\n            <div class=\"score-label\">Potential Savings</div>\n            <div class=\"score-value\" style=\"font-size: 20px;\">\n                {{msg.payload.summary.totalPotentialSavings | number:0}}\n            </div>\n            <div style=\"font-size: 11px; margin-top: 5px; opacity: 0.8;\">KRW/year</div>\n        </div>\n    </div>\n    \n    <!-- Analysis Metrics -->\n    <div class=\"analysis-grid\">\n        <div class=\"analysis-metric\">\n            <div class=\"metric-label\">Load Factor</div>\n            <div class=\"metric-value\">{{msg.payload.analysis.loadFactor.before * 100 | number:1}}%</div>\n            <div class=\"metric-status\" ng-class=\"'status-' + msg.payload.analysis.loadFactor.status\">\n                {{msg.payload.analysis.loadFactor.status}}\n            </div>\n        </div>\n        <div class=\"analysis-metric\">\n            <div class=\"metric-label\">Phase Imbalance</div>\n            <div class=\"metric-value\">{{msg.payload.analysis.phaseImbalance.before | number:1}}%</div>\n            <div class=\"metric-status\" ng-class=\"'status-' + msg.payload.analysis.phaseImbalance.status\">\n                {{msg.payload.analysis.phaseImbalance.status}}\n            </div>\n        </div>\n        <div class=\"analysis-metric\">\n            <div class=\"metric-label\">Peak Reduction</div>\n            <div class=\"metric-value\">{{msg.payload.analysis.peakDemand.reduction | number:1}}%</div>\n            <div style=\"font-size: 9px; margin-top: 3px; opacity: 0.8;\">{{msg.payload.analysis.peakDemand.before | number:1}} โ {{msg.payload.analysis.peakDemand.metrics | number:1}} kW</div>\n        </div>\n        <div class=\"analysis-metric\">\n            <div class=\"metric-label\">PF Improvement</div>\n            <div class=\"metric-value\">{{msg.payload.analysis.powerFactor.improvement > 0 ? '+' : ''}}{{msg.payload.analysis.powerFactor.improvement | number:3}}</div>\n            <div style=\"font-size: 9px; margin-top: 3px; opacity: 0.8;\">{{msg.payload.analysis.powerFactor.before | number:3}} โ {{msg.payload.analysis.powerFactor.metrics | number:3}}</div>\n        </div>\n    </div>\n    \n    <!-- Insights -->\n    <div class=\"insights-grid\" ng-if=\"msg.payload.insights.length > 0\">\n        <div class=\"insight-card\" ng-repeat=\"insight in msg.payload.insights\" ng-class=\"'insight-' + insight.type\">\n            <div class=\"insight-header\">\n                <span class=\"insight-category\">{{insight.category}}</span>\n                <span class=\"insight-impact\">{{insight.impact}}</span>\n            </div>\n            <div class=\"insight-message\">{{insight.message}}</div>\n        </div>\n    </div>\n    \n    <!-- Recommendations -->\n    <div class=\"recommendations-section\" ng-if=\"msg.payload.recommendations.length > 0\">\n        <div class=\"rec-title\">๐ก AI Recommendations for Energy Savings</div>\n        <div class=\"rec-card\" ng-repeat=\"rec in msg.payload.recommendations\" ng-class=\"'rec-' + rec.priority\">\n            <div class=\"rec-header\">\n                <span class=\"rec-action\">{{rec.action}}</span>\n                <span class=\"rec-savings\" ng-if=\"rec.potentialSavings\">โฉ{{rec.potentialSavings | number:0}}/yr</span>\n            </div>\n            <div class=\"rec-description\">{{rec.description}}</div>\n            <div class=\"rec-implementation\">๐ง {{rec.implementation}}</div>\n        </div>\n    </div>\n    \n    <!-- Predictive Insights -->\n    <div ng-if=\"msg.payload.predictive.length > 0\" style=\"background: rgba(255,107,107,0.2); padding: 12px; border-radius: 8px; border: 2px solid rgba(255,107,107,0.5);\">\n        <div style=\"font-size: 14px; font-weight: bold; margin-bottom: 8px;\">โ๏ธ Predictive Alert</div>\n        <div ng-repeat=\"pred in msg.payload.predictive\">\n            <div style=\"font-size: 12px; margin-bottom: 5px;\">{{pred.message}}</div>\n            <div style=\"font-size: 11px; opacity: 0.8;\">Timeframe: {{pred.timeframe}}</div>\n            <div style=\"font-size: 11px; font-style: italic; margin-top: 5px; background: rgba(0,0,0,0.2); padding: 5px; border-radius: 5px;\">\n                ๐ก๏ธ {{pred.preventive}}\n            </div>\n        </div>\n    </div>\n    \n    <div class=\"timestamp\">๐ Analysis updated: {{msg.payload.timestamp}}</div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 750,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "ui-group-ai-insights",
        "type": "ui_group",
        "name": "๐ค AI Optimization Insights",
        "tab": "ui-tab-ksave",
        "order": 6,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    }
]